
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block;
  width: 20%; /* Full width (cover the whole page) */
  height: 75%; /* Full height (cover the whole page) */
  top: 100px;
  left: 20px;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  overflow: scroll;
  transition: 0.5s;
}



.address {
  height: 30px;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  border-bottom: 2px solid;
}

.name{
  display: flex;
  width: 50%;
  justify-content: center;
}

.visits{
  display: flex;
  width: 50%;
  justify-content: center;
}